.toolbar {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  background: #fafafa;
}

.tool {
  display: inline-block;
  margin: 0 2px;
  padding: 2px 6px;
  cursor: pointer;
}

.tool:hover {
  background: #e8e8e8;
}

.activeTool {
  composes: tool;
  background: lightgrey;
}

.handler {
  position: relative;
  display: inline-block;
  margin: -4px 0;
  padding-right: 8px;
  cursor: move;
}

.handler:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #e8e8e8;
}